.section-heading {
  position: relative;
  font-size: 5.5rem;
  font-weight: 700;
  margin-top: 9rem;
  margin-bottom: 13rem;
  text-align: center;

  // text-shadow: 0 0 1px $color-background, 0 0 1px $color-background,
  //   0 0 1px $color-background, 0 0 1px $color-background;

  z-index: 9999;

  @media (max-width: 1200px) {
    margin-bottom: 10rem;
  }

  @media (max-width: 1000px) {
    margin-top: 6rem;
  }
}

/* underline accent for all section headings (projects/experience already have custom rules) */
.section-heading::after {
  content: "";
  display: block;
  width: 12rem;
  height: 4px;
  background-color: #e64a4b;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 770px) {
  .section-heading::after {
    width: 10rem;
    height: 3px;
  }
}
